/* animaciones para los links */
a {
  display: inline-block;
  transition: transform 0.3s ease-in;
}
a:hover {
  transform: scale(1.1);
}
/* fin animaciones */


/* link para el otro html */
.link-externo-supp 
{
    color: $color-white;
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 250px; 
  
  &:hover {
    transform: translateY(10px);
    
  }

  & a 
  {
    text-decoration: none;
    color: $color-white;
    
   &:hover 
   {
      color: lightblue;
     text-decoration: underline;
   }

    &:active
    {
      color: lightblue;
    }

    &visited 
    {
      color: white;
     padding: 70px;
     margin: 30px;
    }
  }
}
  
  /* fin pseudo clases */
//boton//
.boton 
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(/images/icono-autor.webp);
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    animation-name: bounces;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2.0s;
    animation-delay: 1.0s;

    &__a {
    display: block; 
    width: 100%;
    height: 100%;
    
  }  
}

  


  


  